/target
/dist
/.deb-build.*
/.inspect-*

# debhelper build artifacts
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/*.debhelper
/debian/keylightd/
/debian/tmp/
