[Unit]
Description=Automatic Elgato Key Light control
Documentation=https://github.com/moritzheiber/keylightd
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/keylightd daemon
Restart=on-failure
RestartSec=2
TimeoutStopSec=90

[Install]
WantedBy=default.target
